* {
    font-family: 'Poppins', sans-serif;
}

.h-font {
    font-family: 'Merienda', cursive;
}

.custom-bg {
    background-color: #2ec1ac;
    border: 1px solid #2ec1ac;
}

.custom-bg:hover {
    background-color: #279e8c;
    border-color: #279e8c;
}

.availability-form {
    margin-top: -50px;
    z-index: 2;
    position: relative;
}

@media screen and (max-width: 575px) {
    .availability-form {
        margin-top: 0px;
        padding: 0 35px;
    }
}

.button {
    width: 150px;
    height: 30px;
}